
<h1>New Ingredient Added</h1>

<table>
  <tr>
    <th>Name:</th>
    <th>Average Serving Size (g)</th>
    <th>Calories</th>
    <th>Total fat (g)</th>
    <th>Cholesterol (mg)</th>
    <th>Sodium (mg)</th>
    <th>Potassium (mg)</th>
    <th>Total carbohydrates (mg)</th>
    <th>Dietary fibre (g)</th>
    <th>Sugars (g)</th>
    <th>Protein (g)</th>
    <th></th>
  </tr>
  <tr>
    <td><%= @ingredient.name %></td>
    <td><%= @ingredient.avgSize %></td>
    <td><%= @ingredient.calories %></td>
    <td><%= @ingredient.toFat %></td>
    <td><%= @ingredient.chol %></td>
    <td><%= @ingredient.sod %></td>
    <td><%= @ingredient.pot %></td>
    <td><%= @ingredient.totalCarbs %></td>
    <td><%= @ingredient.diFi %></td>
    <td><%= @ingredient.sugs %></td>
    <td><%= @ingredient.pro %></td>
    <td><%= link_to 'Edit', edit_ingredient_path(@ingredient) %></td>
  </tr>
</table>

<br/>
<%= link_to 'Add Another Ingredient', new_ingredient_path %>
<br/>
<br/>
<%= link_to 'View Ingredient Database', ingredients_path %>
